



@layer styles {


    body{
        font-family: Arial, Helvetica, sans-serif;

    }


    .product-list{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;

    }


    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

    }


    .product product--unavailable{
        /* background-color: gray;
        position: absolute;
        color: gray; */

    }


    .product__header{
        position: relative;
        margin-bottom: 2em;
    }


    .product__image-wrapper{
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }


    .product__image {
        max-height: 100%;
        width: auto;

}


    .product__badge{
        position: absolute;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 0.8em;
        padding: 5px;
        
    }


    .product__category{
        color: gray;

    }


    .product__price{
        font-weight: 800;

    }


    .product__sizes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        list-style: none;
        text-decoration: none; /*nechce zmizet underline a modra barva z <a>  */
        color: inherit;
        gap: 0px;
        /* border:10px solid  ;  */
        /* border-color: rgb(228, 228, 228) ; */
        background-color: rgb(207, 207, 207);
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 30px;

    }





}